<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InspectorWork.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="InspectorWork.My.MySettings.DBxConnectionString" connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;Persist Security Info=True;User ID=dbxuser"
            providerName="System.Data.SqlClient" />
        <add name="InspectorWork.My.MySettings.SECSGEMConnectionString"
            connectionString="Data Source=172.16.0.102;Initial Catalog=SECSGEM;User ID=dbxuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <InspectorWork.My.MySettings>
            <setting name="ProcessName" serializeAs="String">
                <value>DB&amp;WB INSPECTOR</value>
            </setting>
            <setting name="UserAuthenOP" serializeAs="String">
                <value>NOUSE</value>
            </setting>
            <setting name="UserAuthenGL" serializeAs="String">
                <value>PE1-Software-Senior</value>
            </setting>
            <setting name="MachineNo" serializeAs="String">
                <value>DWB-INS-I07</value>
            </setting>
            <setting name="SetMasterGLCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DirectoryFile" serializeAs="String">
                <value>C:\Users\Public\Pictures\Sample Pictures</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="RHH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RMM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rss" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPHH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPMM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPss" serializeAs="String">
                <value>0</value>
            </setting>
        </InspectorWork.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceiLibrary" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webserv.thematrix.net/iLibraryService/ServiceiLibrary.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceiLibrary"
                contract="iLibraryService.IServiceiLibrary" name="BasicHttpBinding_IServiceiLibrary" />
        </client>
    </system.serviceModel>
</configuration>
